/*
Theme Name:   Avada Child
Theme URI:    https://theme-fusion.com/
Description:  Avada Child Theme - Performance optimized
Author:       ThemeFusion
Author URI:   https://theme-fusion.com
Template:     Avada
Version:      1.0.0
Text Domain:  Avada-child
*/

/* Custom styles go here */
