<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/phpunit/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="Migration">
            <directory>tests/phpunit/Migration</directory>
        </testsuite>
        <testsuite name="Plugin">
            <directory>tests/phpunit/Plugin</directory>
        </testsuite>
    </testsuites>
</phpunit>
